In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
family1 = np.array([70,5,12,68,40,43])
family1.sort()
family1

array([ 5, 12, 40, 43, 68, 70])

In [3]:
family1[0], family1[-1]

(5, 70)

In [4]:
first_match = np.array([12,10,2,3,5,0])
first_match.mean()

5.333333333333333

In [5]:
firstName = np.array(['Ram','Abhay'])
lastName = np.array(['Singh','Kumar'])
fullName = np.char.add(np.char.add(firstName, ' '), lastName)
fullName

array(['Ram Singh', 'Abhay Kumar'], dtype='<U11')

In [6]:
cricketPlayers = np.array(["ABC:22","PQR:21","XYZ:22","DEF:23","DAS:21","GHF:22","JHK:22","RST:21","YUG:21","OPL:22","BNM:23","FBV:21"])
splitPlayers = np.char.split(cricketPlayers, sep=':')
names = np.array([player[0] for player in splitPlayers])
names

array(['ABC', 'PQR', 'XYZ', 'DEF', 'DAS', 'GHF', 'JHK', 'RST', 'YUG',
       'OPL', 'BNM', 'FBV'], dtype='<U3')

In [7]:
states = pd.read_csv('C:/Users/ADMIN/Downloads/StateDetails.txt', names=['State', 'Capital'], sep=' ')
states.head()

         State       Capital
0  Maharashtra        Mumbai
1          Goa        Panaji
2       Sikkim       Gangtok
3       Odisha  Bhubaneshwar
4        Bihar         Patna

In [8]:
avengers = pd.read_csv('C:/Users/ADMIN/Downloads/AvengerDetails.txt', names=['Avenger', 'Characteristic'], sep='-')
avengers.head()

            Avenger  Characteristic
0       Black widow  fierce fighter
1              Thor           funny
2         Iron man        Commander
3  Captain America         Defender
4             Hulk         Logician

In [10]:
sourceFile = open('C:/Users/ADMIN/Downloads/white spaces.txt', 'r')
lines = sourceFile.readlines() 
removed_spaces = []
for line in lines:
    spaces_removed = re.findall('[^\s]+', line)
    removed_spaces.append(spaces_removed)
# Write results to the destination file
with open('C:/Users/ADMIN/Downloads/compact.txt', 'w') as f:
    for r in removed_spaces:
        f.write(f"{''.join(r)}\n")

In [10]:
sourceFile = open('C:/Users/ADMIN/Downloads/source.txt', 'r')
lines = sourceFile.readlines()  
small_letters = []  # To store small letters
capital_letters = []  # To store capital letters

for line in lines:
    # Find small letters
    small_matches = re.findall('[a-z]', line)
    small_letters.extend(small_matches)
    
    # Find capital letters
    capital_matches = re.findall('[A-Z]', line)
    capital_letters.extend(capital_matches)

# Count small and capital letters
small_letters_count = len(small_letters)
capital_letters_count = len(capital_letters)

# Write results to the destination file
with open('C:/Users/ADMIN/Downloads/destination.txt', 'w') as f:
    f.write(f"{''.join(small_letters)}\n")
    f.write(f"{''.join(capital_letters)}\n")

print(f"Total number of small letters: {small_letters_count}")
print(f"Total number of capital letters: {capital_letters_count}")

Total number of small letters: 20
Total number of capital letters: 12

In [11]:
contactsFile = open('C:/Users/ADMIN/Downloads/Contacts.txt', 'r')
lines = contactsFile.readlines()
mobile_numbers = []
for line in lines:
    matches = re.findall('\d{10,12}', line)
    mobile_numbers.extend(matches)

with open('C:/Users/ADMIN/Downloads/MobileNumber.txt', 'w') as f:
    f.write('\n'.join(mobile_numbers))

In [12]:
# attendanceFile = open('C:/Users/ADMIN/Downloads/attendance.txt', 'r')
# lines = attendanceFile.readlines()
# name = input("Enter student name: ")
# name = name.lower()
# attendance_found = False  # Flag to track if the student is present
# for line in lines:
#     if re.search(name, line.lower()):  # Case insensitive match
#         attendance_found = True
#         break  # No need to check further lines once a match is found
# if attendance_found:
#     print(f"{name}'s attendance is marked")
# else:
#     print(f"{name} was absent for the lecture")