<center><h1>Mongodb using python</h1></center>

#### Q1)

In [98]:
from pymongo import MongoClient

In [99]:
con = MongoClient("localhost", 27017)
db = con.library
db_library_table = db.book_data

In [100]:
title = input("Enter the title of the book: ")
author = input("Enter the author of the book: ")
price = int(input("Enter the price of the book: "))
subject = input("Enter the subject: ")
publicationYear = int(input("Enter the publication year: "))

book_dict = {
    "title": title,
    "author": author,
    "price": price,
    "subject": subject,
    "publicationYear": publicationYear
}

db_library_table.insert_one(book_dict)

Enter the title of the book:  David Copperfield
Enter the author of the book:  Pratyush
Enter the price of the book:  200
Enter the subject:  Fiction
Enter the publication year:  2000

InsertOneResult(ObjectId('676d986e70f48fda89904ee5'), acknowledged=True)

#### Q2)

In [101]:
con = MongoClient("localhost", 27017)
db = con.mca
db_mca_table = db.hod_data

In [102]:
db_hod_dict = {
    "Java Programming": "Mr. ABC",
    "Full Stack Development": "Ms. PQR",
    "Cyber Security": "Ms. XYZ",
    "SoftwareProjectManagement": "Mr. JKL",
    "Research Methodology": "Mr. LMN",
    "Soft Skills": "Ms. BNC"
}

In [103]:
db_mca_table.insert_one(db_hod_dict)

InsertOneResult(ObjectId('676d987f70f48fda89904ee7'), acknowledged=True)

In [104]:
fname = input("Enter the faculty name: ")
result = db_mca_table.find_one()
if result:
    found = False
    for subject, faculty in result.items():
        if subject != '_id' and faculty == fname:  # Skip the '_id' field
            print(subject)
            found = True
            break
    if not found:
        print("This faculty is not teaching any subject in the second semester.")

Enter the faculty name:  Mr. ABC

Java Programming

#### Q3)

In [105]:
con = MongoClient("localhost", 27017)
db = con.mumbai
db_mumbai_table = db.marathon_data

In [106]:
data = {
    1: {"reg_number": 1},
    2: {"reg_number": 2},
    3: {"reg_number": 3},
    4: {"reg_number": 4},
    5: {"reg_number": 5},
    6: {"reg_number": 6},
    7: {"reg_number": 7},
    8: {"reg_number": 8},
    9: {"reg_number": 9},
    10: {"reg_number": 10}
}
db_mumbai_table.insert_many(data.values())

InsertManyResult([ObjectId('676d989770f48fda89904ee9'), ObjectId('676d989770f48fda89904eea'), ObjectId('676d989770f48fda89904eeb'), ObjectId('676d989770f48fda89904eec'), ObjectId('676d989770f48fda89904eed'), ObjectId('676d989770f48fda89904eee'), ObjectId('676d989770f48fda89904eef'), ObjectId('676d989770f48fda89904ef0'), ObjectId('676d989770f48fda89904ef1'), ObjectId('676d989770f48fda89904ef2')], acknowledged=True)

In [108]:
reg_number_input = int(input("Enter the registration number of the participant who didn't report: "))
participant = db_mumbai_table.find_one({"reg_number": reg_number_input})
if participant:
    db_mumbai_table.delete_one({"reg_number": reg_number_input})

Enter the registration number of the participant who didn't report:  3

#### Q4)

In [109]:
con = MongoClient("localhost", 27017)
db = con.singer
db_singer_table = db.singer_data

In [110]:
singer_dict = {
    1: {"Sonu Nigam": ["Kal ho na ho", "Mein agar kahu", "Abhi mujhme kahi", "Tumse milke dil ka", "Yeh dil diwana"]},
    2: {"Arijit Singh": ["Tera yaar hu mein", "Sajni re", "Phir le aya dil", "Kabira", "Kabhi jo badal barse"]},
    3: {"Shreya Ghoshal": ["Mere dholna", "Param sundari", "Jadu hai nasha hai", "More piya","Tare ginn"]}
}

In [111]:
db_singer_table.insert_many(singer_dict.values())

InsertManyResult([ObjectId('676d98da70f48fda89904ef4'), ObjectId('676d98da70f48fda89904ef5'), ObjectId('676d98da70f48fda89904ef6')], acknowledged=True)

In [112]:
sname = input("Enter the singer name: ")
result = db_singer_table.find_one()
if result:
    # for value in singer_dict.values():
    for singer, songs in result.items():
        if sname.lower() == singer.lower():  # Case insensitive comparison
            print(f"{', '.join(songs)}")
            break
        else:
            continue
else:
    print("Singer not found.")

Enter the singer name:  Sonu Nigam

Kal ho na ho, Mein agar kahu, Abhi mujhme kahi, Tumse milke dil ka, Yeh dil diwana

#### Q5)

In [113]:
con = MongoClient("localhost", 27017)
db = con.manufacturing_unit
db_manufacturing_table = db.emp_data

In [114]:
emp = {
    1:{"Designation": "Manager", "Total leaves alloted": 24},
    2:{"Designation": "Floor supervisor", "Total leaves alloted": 30},
    3:{"Designation": "Machine staff", "Total leaves alloted": 20}
}

In [115]:
db_manufacturing_table.insert_many(emp.values())

InsertManyResult([ObjectId('676d98ec70f48fda89904ef8'), ObjectId('676d98ec70f48fda89904ef9'), ObjectId('676d98ec70f48fda89904efa')], acknowledged=True)

In [116]:
designation = input("Enter the designation: ")
leaves = int(input("Enter the leaves taken: "))
result = db_table.find_one({"Designation": designation})
if result:
    db_table.update_one({"Designation": designation}, {"$inc":{"Total leaves alloted": -leaves}})
else:
    print("Designation not found")

Enter the designation:  Manager
Enter the leaves taken:  4