In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
family1 = np.array([70,5,12,68,40,43])
family1.sort()
family1

array([ 5, 12, 40, 43, 68, 70])

In [3]:
family1[0], family1[-1]

(5, 70)

In [4]:
first_match = np.array([12,10,2,3,5,0])
first_match.mean()

5.333333333333333

In [5]:
firstName = np.array(['Ram','Abhay'])
lastName = np.array(['Singh','Kumar'])
fullName = np.char.add(np.char.add(firstName, ' '), lastName)
fullName

array(['Ram Singh', 'Abhay Kumar'], dtype='<U11')

In [6]:
cricketPlayers = np.array(["ABC:22","PQR:21","XYZ:22","DEF:23","DAS:21","GHF:22","JHK:22","RST:21","YUG:21","OPL:22","BNM:23","FBV:21"])
splitPlayers = np.char.split(cricketPlayers, sep=':')
names = np.array([player[0] for player in splitPlayers])
names

array(['ABC', 'PQR', 'XYZ', 'DEF', 'DAS', 'GHF', 'JHK', 'RST', 'YUG',
       'OPL', 'BNM', 'FBV'], dtype='<U3')

In [7]:
states = pd.read_csv('C:/Users/ADMIN/Downloads/StateDetails.txt', names=['State', 'Capital'], sep=' ')
states.head()

         State       Capital
0  Maharashtra        Mumbai
1          Goa        Panaji
2       Sikkim       Gangtok
3       Odisha  Bhubaneshwar
4        Bihar         Patna

In [8]:
avengers = pd.read_csv('C:/Users/ADMIN/Downloads/AvengerDetails.txt', names=['Avenger', 'Characteristic'], sep='-')
avengers.head()

            Avenger  Characteristic
0       Black widow  fierce fighter
1              Thor           funny
2         Iron man        Commander
3  Captain America         Defender
4             Hulk         Logician

In [9]:
sourceFile = open('C:/Users/ADMIN/Downloads/white spaces.txt', 'r')
lines = sourceFile.readlines() 
removed_spaces = []
for line in lines:
    spaces_removed = re.findall('[^\s]+', line)
    removed_spaces.append(spaces_removed)
# Write results to the destination file
with open('C:/Users/ADMIN/Downloads/compact.txt', 'w') as f:
    for r in removed_spaces:
        f.write(f"{''.join(r)}\n")

In [10]:
sourceFile = open('C:/Users/ADMIN/Downloads/source.txt', 'r')
lines = sourceFile.readlines()  
small_letters = []  # To store small letters
capital_letters = []  # To store capital letters

for line in lines:
    # Find small letters
    small_matches = re.findall('[a-z]', line)
    small_letters.extend(small_matches)
    
    # Find capital letters
    capital_matches = re.findall('[A-Z]', line)
    capital_letters.extend(capital_matches)

# Count small and capital letters
small_letters_count = len(small_letters)
capital_letters_count = len(capital_letters)

# Write results to the destination file
with open('C:/Users/ADMIN/Downloads/destination.txt', 'w') as f:
    f.write(f"{''.join(small_letters)}\n")
    f.write(f"{''.join(capital_letters)}\n")

print(f"Total number of small letters: {small_letters_count}")
print(f"Total number of capital letters: {capital_letters_count}")

Total number of small letters: 20
Total number of capital letters: 12

In [11]:
contactsFile = open('C:/Users/ADMIN/Downloads/Contacts.txt', 'r')
lines = contactsFile.readlines()
mobile_numbers = []
for line in lines:
    matches = re.findall('\d{10,12}', line)
    mobile_numbers.extend(matches)

with open('C:/Users/ADMIN/Downloads/MobileNumber.txt', 'w') as f:
    f.write('\n'.join(mobile_numbers))

In [12]:
# attendanceFile = open('C:/Users/ADMIN/Downloads/attendance.txt', 'r')
# lines = attendanceFile.readlines()
# name = input("Enter student name: ")
# name = name.lower()
# attendance_found = False  # Flag to track if the student is present
# for line in lines:
#     if re.search(name, line.lower()):  # Case insensitive match
#         attendance_found = True
#         break  # No need to check further lines once a match is found
# if attendance_found:
#     print(f"{name}'s attendance is marked")
# else:
#     print(f"{name} was absent for the lecture")

In [13]:
class LearnerUnderAgeError(Exception):
    def __init__(self,msg):
        super().__init__(msg)
        self.msg = msg

name = input("Enter your name: ")
address = input("Enter your address: ")
age = int(input("Enter your age: "))
try:
    if age < 18:
        raise LearnerUnderAgeError("You are not eligible to enroll for driving school")
except LearnerUnderAgeError as luag:
    print(luag.msg)
else:
    print("You are eligible to enroll for driving school")

Enter your name:  Pratyush
Enter your address:  Yamuna Nagar
Enter your age:  20

You are eligible to enroll for driving school

In [2]:
from pymongo import MongoClient

In [5]:
con = MongoClient("localhost", 27017)
db = con.mca
db_table = db.hod_data

In [6]:
db_hod_dict = {
    "Java Programming": "Mr. ABC",
    "Full Stack Development": "Ms. PQR",
    "Cyber Security": "Ms. XYZ",
    "SoftwareProjectManagement": "Mr. JKL",
    "Research Methodology": "Mr. LMN",
    "Soft Skills": "Ms. BNC"
}

In [7]:
db_table.insert_one(db_hod_dict)

InsertOneResult(ObjectId('676d4267ab588096237467ae'), acknowledged=True)

In [20]:
fname = input("Enter the faculty name: ")
for key, value in db_hod_dict.items():
    if fname == value:
        print(key)
        break
    else:
        print("This faculty is not teaching any subject in second semester.")
        break
# same for sub and then provide fname

Enter the faculty name:  Mr. ABC

Java Programming

In [21]:
con = MongoClient("localhost", 27017)
db = con.mumbai
db_table = db.marathon_data

In [44]:
data = {
    1: {"reg_number": 1},
    2: {"reg_number": 2},
    3: {"reg_number": 3},
    4: {"reg_number": 4},
    5: {"reg_number": 5},
    6: {"reg_number": 6},
    7: {"reg_number": 7},
    8: {"reg_number": 8},
    9: {"reg_number": 9},
    10: {"reg_number": 10}
}
db_table.insert_many(data.values())

InsertManyResult([ObjectId('676d4944ab58809623746801'), ObjectId('676d4944ab58809623746802'), ObjectId('676d4944ab58809623746803'), ObjectId('676d4944ab58809623746804'), ObjectId('676d4944ab58809623746805'), ObjectId('676d4944ab58809623746806'), ObjectId('676d4944ab58809623746807'), ObjectId('676d4944ab58809623746808'), ObjectId('676d4944ab58809623746809'), ObjectId('676d4944ab5880962374680a')], acknowledged=True)

In [40]:
reg_number_input = int(input("Enter the registration number of the participant who didn't report: "))
if reg_number_input in data:
    db_table.delete_one({"reg_number": reg_number_input})
    del data[reg_number_input]

Enter the registration number of the participant who didn't report:  3

In [66]:
con = MongoClient("localhost", 27017)
db = con.singer
db_table = db.singer_data

In [67]:
singer_dict = {
    1: {"Sonu Nigam": ["Kal ho na ho", "Mein agar kahu", "Abhi mujhme kahi", "Tumse milke dil ka", "Yeh dil diwana"]},
    2: {"Arijit Singh": ["Tera yaar hu mein", "Sajni re", "Phir le aya dil", "Kabira", "Kabhi jo badal barse"]},
    3: {"Shreya Ghoshal": ["Mere dholna", "Param sundari", "Jadu hai nasha hai", "More piya","Tare ginn"]}
}

In [68]:
db_table.insert_many(singer_dict.values())

InsertManyResult([ObjectId('676d4fb9ab58809623746817'), ObjectId('676d4fb9ab58809623746818'), ObjectId('676d4fb9ab58809623746819')], acknowledged=True)

In [70]:
sname = input("Enter the singer name: ")
for value in singer_dict.values():
    for singer, songs in value.items():
        if sname.lower() == singer.lower():  # Case insensitive comparison
            print(f"{', '.join(songs)}")
            break
    else:
        continue
    break
else:
    print("Singer not found.")

Enter the singer name:  Shreya Ghoshal

Mere dholna, Param sundari, Jadu hai nasha hai, More piya, Tare ginn

In [46]:
con = MongoClient("localhost", 27017)
db = con.manufacturing_unit
db_table = db.emp_data

In [51]:
emp = {
    1:{"Designation": "Manager", "Total leaves alloted": 24},
    2:{"Designation": "Floor supervisor", "Total leaves alloted": 30},
    3:{"Designation": "Machine staff", "Total leaves alloted": 20}
}

In [52]:
db_table.insert_many(emp.values())

InsertManyResult([ObjectId('676d4b4cab5880962374680f'), ObjectId('676d4b4cab58809623746810'), ObjectId('676d4b4cab58809623746811')], acknowledged=True)

In [55]:
designation = input("Enter the designation: ")
leaves = int(input("Enter the leaves taken: "))
designation_found = False
for employee in emp.values():
    if employee["Designation"] == designation:
        designation_found = True
        break
if designation_found:
    db_table.update_one({"Designation": designation}, {"$inc":{"Total leaves alloted": -leaves}})

Enter the designation:  Manager
Enter the leaves taken:  4